In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from os import chdir

In [5]:
from loaders.user_timelines import UserTimelineLoader
from loaders.user_loader import UserLoader

In [3]:
%matplotlib inline

In [4]:
%pwd

u'C:\\Users\\Alexander\\Documents\\Programming\\DAT7\\DAT7project'

In [51]:
DIRECTORY = r'C:\Users\Alexander\Documents\Programming\DAT7\DAT7project'
chdir(DIRECTORY)

#Load in data that determines user categories
random_users = UserLoader(DIRECTORY, 'random').users
random_users.rename(columns = {'id':'user_id'}, inplace=True)
random_users['user_type'] = 0
random_users.head(10)

,created_at,description,favourites_count,followers_count,friends_count,geo_enabled,user_id,lang,listed_count,location,...,profile_text_color,protected,screen_name,status,statuses_count,time_zone,url,utc_offset,verified,user_type
0,2012-12-11 05:57:32,NaN,NaN,NaN,1,NaN,1003414406,en,NaN,NaN,...,333333,False,pjaouwas,"{u'lang': u'tl', u'favorited': False, u'trunca...",1,NaN,NaN,NaN,NaN,0
1,2012-12-12 15:07:29,"Environmental engineers, Secondary School Manager",NaN,6,17,NaN,1006572037,en,NaN,USA New York,...,333333,False,SoreSeducer7k,"{u'lang': u'en', u'favorited': False, u'trunca...",1,NaN,NaN,NaN,NaN,0
2,2012-12-12 18:35:09,NaN,4,4,57,NaN,1007005704,ru,NaN,Санкт-Петербург,...,333333,False,jokerint,"{u'lang': u'ru', u'favorited': False, u'trunca...",10,Yerevan,http://t.co/008pP33D,14400,NaN,0
3,2012-12-13 18:14:45,NaN,9,51,20,1,1009418101,ar,NaN,NaN,...,362720,True,ahmedabualfoto1,NaN,4221,Athens,NaN,10800,NaN,0
4,2010-01-03 14:57:55,NaN,NaN,3,20,NaN,101494003,en,NaN,NaN,...,333333,False,silviatri,NaN,NaN,NaN,NaN,NaN,NaN,0
5,2012-12-18 18:21:22,NaN,NaN,NaN,2,NaN,1020351756,ar,NaN,NaN,...,333333,False,aziz_alsuwait,"{u'lang': u'ar', u'favorited': False, u'trunca...",271,NaN,NaN,NaN,NaN,0
6,2012-12-20 13:18:24,NaN,NaN,NaN,5,NaN,1024249081,en,NaN,NaN,...,333333,False,danilomaguengue,"{u'lang': u'en', u'favorited': False, u'trunca...",218,NaN,NaN,NaN,NaN,0
7,2012-12-21 06:43:49,NaN,NaN,NaN,6,NaN,1025809502,ru,NaN,NaN,...,333333,False,MegurineLin,"{u'lang': u'ru', u'favorited': False, u'trunca...",1,NaN,NaN,NaN,NaN,0
8,2010-01-08 07:03:08,NaN,NaN,62,19,NaN,102912757,en,NaN,NaN,...,333333,False,nadiyaah,"{u'lang': u'en', u'favorited': False, u'trunca...",3,NaN,NaN,NaN,NaN,0
9,2012-12-23 12:48:07,NaN,NaN,1,10,NaN,1030501914,en,NaN,antipolo city,...,333333,False,cam_oliva,NaN,NaN,NaN,NaN,NaN,NaN,0

In [28]:
retweeters = UserLoader(DIRECTORY, 'retweeter').users
retweeters.rename(columns = {'id':'user_id'}, inplace=True)
retweeters['user_type'] = 1
retweeters.head()

,created_at,description,favourites_count,followers_count,friends_count,geo_enabled,user_id,lang,listed_count,location,...,profile_text_color,protected,screen_name,status,statuses_count,time_zone,url,utc_offset,verified,user_type
0,2010-01-15 22:01:00,The whimsicle whispers of a wandering wreck.,83,133,340,1,105269169,en,2,NaN,...,666666,False,iNabz,"{u'lang': u'en', u'favorited': False, u'trunca...",5067,NaN,NaN,NaN,NaN,1
1,2013-01-18 05:53:34,QueensU'15 • makeup enthusiast • 849er,4115,165,181,1,1100130618,en,2,"Johnstown, Ontario",...,333333,False,TaylorMcNizzle,"{u'lang': u'en', u'favorited': False, u'trunca...",10145,NaN,NaN,NaN,NaN,1
2,2013-01-18 17:44:33,Sometimes I think I am a superhero. That happe...,15107,302,327,1,1101563028,en,NaN,NaN,...,333333,False,Kal_Sea,"{u'lang': u'en', u'favorited': False, u'retwee...",6251,Eastern Time (US & Canada),NaN,-14400,NaN,1
3,2010-02-02 04:48:28,love fuckin. fuck love.,1364,2577,1960,NaN,110614388,en,45,HIGH .. on my Polo horse,...,FF0000,False,accidentalDOPE_,"{u'lang': u'en', u'favorited': False, u'retwee...",72225,Eastern Time (US & Canada),NaN,-14400,NaN,1
4,2013-01-24 06:51:48,"Don't mind my life worry about yours,KHOSI4LIF...",116,444,340,1,1116145537,en,3,Short left&turn right,...,333333,False,MkhondoSt,"{u'lang': u'fr', u'favorited': False, u'trunca...",14287,NaN,http://t.co/yzXxVe2hvD,NaN,NaN,1

In [33]:
#Remove any potential id collisions
random_users = random_users[~random_users['user_id'].isin(retweeters['user_id'])]

data = pd.concat([random_users, retweeters], ignore_index=True)
data.head()

,created_at,description,favourites_count,followers_count,friends_count,geo_enabled,user_id,lang,listed_count,location,...,profile_text_color,protected,screen_name,status,statuses_count,time_zone,url,utc_offset,verified,user_type
0,2012-12-11 05:57:32,NaN,NaN,NaN,1,NaN,1003414406,en,NaN,NaN,...,333333,False,pjaouwas,"{u'lang': u'tl', u'favorited': False, u'trunca...",1,NaN,NaN,NaN,NaN,0
1,2012-12-12 15:07:29,"Environmental engineers, Secondary School Manager",NaN,6,17,NaN,1006572037,en,NaN,USA New York,...,333333,False,SoreSeducer7k,"{u'lang': u'en', u'favorited': False, u'trunca...",1,NaN,NaN,NaN,NaN,0
2,2012-12-12 18:35:09,NaN,4,4,57,NaN,1007005704,ru,NaN,Санкт-Петербург,...,333333,False,jokerint,"{u'lang': u'ru', u'favorited': False, u'trunca...",10,Yerevan,http://t.co/008pP33D,14400,NaN,0
3,2012-12-13 18:14:45,NaN,9,51,20,1,1009418101,ar,NaN,NaN,...,362720,True,ahmedabualfoto1,NaN,4221,Athens,NaN,10800,NaN,0
4,2010-01-03 14:57:55,NaN,NaN,3,20,NaN,101494003,en,NaN,NaN,...,333333,False,silviatri,NaN,NaN,NaN,NaN,NaN,NaN,0

In [34]:
data.groupby('user_type').created_at.min()

user_type
0   2007-06-23 01:42:25
1   2008-04-07 16:11:05
Name: created_at, dtype: datetime64[ns]

In [35]:
data.groupby('user_type').created_at.max()

user_type
0   2015-04-26 01:10:39
1   2015-05-02 17:32:19
Name: created_at, dtype: datetime64[ns]

In [42]:
data[['favourites_count', 'followers_count', 'friends_count', 'user_type']].groupby('user_type').describe()

                 favourites_count  followers_count  friends_count
user_type
0         count        313.000000       637.000000     797.000000
          mean         241.706070       182.233909      97.958595
          std         1550.719518      2666.980809     439.592516
          min            1.000000         1.000000       1.000000
          25%            2.000000         2.000000       5.000000
          50%            6.000000         6.000000      17.000000
          75%           50.000000        29.000000      60.000000
          max        26208.000000     65941.000000    8985.000000
1         count        281.000000       284.000000     285.000000
          mean        4600.053381      2056.151408    1421.263158
          std        11314.935907      8352.283350    6954.866044
          min            1.000000         9.000000       2.000000
          25%          270.000000       167.000000     192.000000
          50%         1235.000000       344.000000     328.000000
          75%         3770.000000       771.000000     686.000000
          max       118597.000000     89416.000000   84915.000000

Users who retweet personal victories are more active than users who do not

##How many users of each type do we have?

In [46]:
data.user_type.count()

1299

In [48]:
data[data.user_type==1].user_type.count()

285

In [49]:
data[data.user_type==0].user_type.count()

1014